@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@300;400;700 & family= Solitreo & display=swap');



*{
    margin: o;
    padding:0;
    box-sizing: boreder-box;
}

body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    font-family: 'Montserrat', sans-serif;
}

.form_input{
  font-family: inherit;  
}

.form_cta{
    font-family: inherit;  
  }

